# Default
langchain
langchain-openai
langchain_core
langchain-community
langchainhub
openai
ragas
python-docx
tiktoken
cohere
faiss_cpu
rank-bm25
fastapi
matplotlib
pre-commit
python-dotenv
seaborn
sentence-transformers
streamlit

# Additional
faiss-gpu

